{% extends "ApplicationPaymentBundle::layout.html.twig" %}

{% block title "Paypal: Bilan De La Transation - Finished" %}

{% block content %}   
<br><br>
    <div class="block">
        Payment status:
        {% if status.success %}
            Successfully finished!
        {% elseif status.canceled %}
            Canceled!
        {% elseif status.failed %}
            Failed!
        {% elseif status.pending %}
            In progress!
        {% elseif status.pending %}
            Status unknown!
        {% endif %}
    </div>

 <br><br>  

<table class="table table-striped table-bordered table-hover">
    <tbody>
         {% for key, value in status.model %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
       
    </tbody>
</table>

<br><br>
<a href="{{ path('sonata_news_home') }}" class="btn btn-small btn-success">Retour</a>
<br><br>

{% endblock %}

{#% set code = code(_self) %#}