{% block NAVIGATION_BAR %}
<div class="navbar navbar-fixed-top navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container-fluid"> 
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span> 
                                <span class="icon-bar"></span> 
                            </a>
                            <a class="brand" href="#">{% block toto %}I-CHANGE(v1.1){% endblock %}</a>
                              

    
                              <div class="btn-group pull-right"> 
                                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user"></i>
                                 fgf
                                 <span class="caret"></span> 
                                  </a>
                                      
                               
                               <ul class="dropdown-menu">
                                  <!--  <li class="divider"></li>-->
                                    
                                      <li><a href="">aa</a>
                                      <li><a href="">aa</a>
                                      <li><a href="">aa</a>
                                      
                                      </li>
                                
                                 
                              
           
                                </ul>
                            </div>
                            
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
{% endblock %}    