<div>
   
{% for comment in lastcomments %}
 <br>   
    <!--Catégorie: -->
    Il y' a {{ comment.updatedAt | created_ago  }}, <span class="badge badge-warning">
   
            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}">
{{ comment.name }}</a> </span>
 <br>    
    {{ comment.message }}

{% endfor %}

</div>
