<div>
    <p>
{% for comment in lastcomments %}
    <span class="badge badge-warning">
    <!--Catégorie: -->
     Il y' a {{ comment.updatedAt | created_ago  }}, {{ comment.name }}
    <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(comment.post) }) }}">{{ comment.message }}</a>
    </span>
{% endfor %}
</p>
</div>
