{% extends "ApplicationPaymentBundle::layout.html.twig" %}

{% block title "Paiment BLOG MROOT demo" %}



{% block content %}
Participer au développement du site, des articles, soutenir les développeurs, le temps passé, l'absence de publicité.
    <form method="POST">
        {{ form_widget(form_paypal) }}
             {{ form_rest(form_paypal) }}

 <input type="image" src="{{ asset('images/x-click-but04.gif') }}" name="submit" alt="Effectuez vos paiements via PayPal : une solution rapide, gratuite et sécurisée"></input>
    </form>
{% endblock %}

{#% set code = code(_self) %#}

